@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    background-color: #3785FC;
    font-family: 'Roboto', sans-serif;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    color: #3785FC;
    text-decoration: underline;
    
}

.avatar{
    width: 300px;
    border-radius: 29px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

/* .information{
    margin-left: 300px;
} */

.info{
    display: flex;
    
}

.info p{
    color:#3785FC;
}
.information{
    margin-left: 90px;
}
.services{
    margin-top: 300px;
    border: radius 15px;
}
/* .info{
    border-radius:15px;
    background-color: white;
} */
.container{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px 50px;
    border-radius:15px;
}
.box-model > div{
    background-color:aliceblue;
    height: 200px;
    width: 50%;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
}

.bg-green{
    background-color: #E6F7C0;
}

.bg-blue{
    background-color: #B2EFF7;
}

.bg-yellow{
    background-color:#FDF596;
}

.bg-red{
    background-color: #FE9E9E;
}
.card{
    padding: 15px 20px;
    /* background-color:#F1F7FF; */
    margin-bottom: 18px;
    border-radius:20px;
}

.connect h2{
    text-align: center;
}

.form-group label{
    display: block;
}

.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border:none;
    border-bottom: 1px solid black;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
    outline: none;
    font-family: inherit;
}

.row{
    display: flex;
}

.row > .form-group{
    width: 50%;
}

.row > .form-group:first-child{
    margin-right: 20px;
}

.contact{
    display: flex;
}

.contact > div{
    margin-right: 7px;
    width: 33%;
    box-sizing:border-box;
    text-align: center;
    margin-bottom: 20px;
    
}

.button{
    background-color:#5383F9;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.button:hover{
    opacity: 0.9;
}